jmefit-n8n-automation.json
{
  "name": "JMEFIT Marketing Automation Master Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Lead Capture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "lead-capture-jmefit"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "operation": "equal",
              "value2": "quiz"
            }
          ]
        }
      },
      "id": "router1",
      "name": "Lead Source Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "prospects",
        "data": {
          "email": "={{ $json.email }}",
          "first_name": "={{ $json.first_name }}",
          "last_name": "={{ $json.last_name }}",
          "phone": "={{ $json.phone }}",
          "lead_source": "={{ $json.source }}",
          "fitness_goals": "={{ $json.fitness_goals }}",
          "experience_level": "={{ $json.experience_level }}",
          "social_data": "={{ $json.social_data }}",
          "age": "={{ $json.age }}",
          "gender": "={{ $json.gender }}",
          "annual_income": "={{ $json.annual_income }}",
          "created_at": "={{ new Date().toISOString() }}"
        },
        "upsert": true,
        "onConflict": "email"
      },
      "id": "supabase1",
      "name": "Create/Update Prospect",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "supabaseApi": {
          "id": "jmefit-supabase",
          "name": "JMEFIT Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ICP Scoring Algorithm for JMEFIT\nconst prospect = $input.first().json;\n\nlet icpScore = 0;\nlet icpFactors = [];\n\n// Age scoring (30+ is ideal)\nif (prospect.age >= 30 && prospect.age <= 55) {\n  icpScore += 25;\n  icpFactors.push('ideal_age_range');\n} else if (prospect.age >= 25 && prospect.age < 30) {\n  icpScore += 15;\n}\n\n// Gender scoring (women are primary target)\nif (prospect.gender === 'female') {\n  icpScore += 20;\n  icpFactors.push('target_gender');\n}\n\n// Fitness goals scoring\nif (prospect.fitness_goals) {\n  const goals = Array.isArray(prospect.fitness_goals) ? prospect.fitness_goals : [prospect.fitness_goals];\n  \n  if (goals.includes('weight_loss')) {\n    icpScore += 20;\n    icpFactors.push('weight_loss_goal');\n  }\n  if (goals.includes('muscle_building')) {\n    icpScore += 15;\n    icpFactors.push('muscle_building_goal');\n  }\n  if (goals.includes('nutrition_guidance')) {\n    icpScore += 15;\n    icpFactors.push('nutrition_interest');\n  }\n}\n\n// Experience level scoring (beginners/intermediates are ideal)\nif (prospect.experience_level === 'beginner') {\n  icpScore += 15;\n  icpFactors.push('beginner_level');\n} else if (prospect.experience_level === 'intermediate') {\n  icpScore += 10;\n  icpFactors.push('intermediate_level');\n}\n\n// Social media activity scoring\nif (prospect.social_data) {\n  const socialData = typeof prospect.social_data === 'string' ? JSON.parse(prospect.social_data) : prospect.social_data;\n  \n  if (socialData.instagram_followers > 100) {\n    icpScore += 5;\n  }\n  if (socialData.fitness_posts > 5) {\n    icpScore += 10;\n    icpFactors.push('fitness_content_creator');\n  }\n}\n\n// Income indicators\nif (prospect.annual_income >= 50000) {\n  icpScore += 10;\n  icpFactors.push('sufficient_income');\n}\n\n// Determine segment\nlet segment = 'cold';\nlet recommendedProduct = 'self_led';\n\nif (icpScore >= 70) {\n  segment = 'hot';\n  recommendedProduct = 'nutrition_training';\n} else if (icpScore >= 50) {\n  segment = 'warm';\n  recommendedProduct = 'nutrition_only';\n}\n\nreturn {\n  ...prospect,\n  icp_score: icpScore,\n  icp_factors: icpFactors,\n  segment: segment,\n  recommended_product: recommendedProduct\n};"
      },
      "id": "code1",
      "name": "ICP Scoring Algorithm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "prospects",
        "updateKey": "email",
        "data": {
          "icp_score": "={{ $json.icp_score }}",
          "segment": "={{ $json.segment }}",
          "recommended_product": "={{ $json.recommended_product }}",
          "icp_factors": "={{ $json.icp_factors }}",
          "updated_at": "={{ new Date().toISOString() }}"
        }
      },
      "id": "supabase2",
      "name": "Update ICP Score",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1140, 300],
      "credentials": {
        "supabaseApi": {
          "id": "jmefit-supabase",
          "name": "JMEFIT Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.segment }}",
              "operation": "equal",
              "value2": "hot"
            }
          ]
        }
      },
      "id": "router2",
      "name": "Segment Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "Your Personalized Fitness Journey Starts Now! 🎯",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Welcome to JMEFIT</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .cta-button { display: inline-block; background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n        .social-proof { background: #e6f3ff; padding: 20px; border-left: 4px solid #8B5CF6; margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Welcome to Your Transformation, {{ $json.first_name }}! 🌟</h1>\n            <p>Your Personalized Fitness & Nutrition Journey Awaits</p>\n        </div>\n        <div class=\"content\">\n            <p>Hi {{ $json.first_name }},</p>\n            \n            <p>I'm Jaime, and I'm <strong>thrilled</strong> you've taken the first step toward transforming your mind, body, and life! 💪</p>\n            \n            <p>Based on your goals, I've created something special just for you...</p>\n            \n            <div class=\"social-proof\">\n                <h3>🎯 Your Personalized Transformation Bundle</h3>\n                <ul>\n                    <li>✅ Custom Macro Calculation (Worth $99) - <strong>FREE</strong></li>\n                    <li>✅ 7-Day Meal Planning Template</li>\n                    <li>✅ Beginner-Friendly Workout Video Series</li>\n                    <li>✅ Private Access to Our Success Community</li>\n                </ul>\n                <p><strong>Total Value: $297 - Yours FREE Today!</strong></p>\n            </div>\n            \n            <p>Here's what makes this perfect for you:</p>\n            <ul>\n                <li><strong>Beginner-Friendly:</strong> No overwhelm, just clear action steps</li>\n                <li><strong>Science-Based:</strong> Real nutrition that works for busy women</li>\n                <li><strong>Sustainable:</strong> No extreme diets or impossible workouts</li>\n            </ul>\n            \n            <a href=\"https://jmefit.com/welcome?token={{ $json.email }}&source=hot_lead\" class=\"cta-button\">Get My Free Transformation Bundle →</a>\n            \n            <div class=\"social-proof\">\n                <p><em>\"I lost 24 pounds in 12 weeks and finally feel confident in my own skin. Jaime's approach actually works!\"</em> - Sarah M., Working Mom</p>\n            </div>\n            \n            <p>Ready to become the strongest, most confident version of yourself?</p>\n            \n            <p>To your transformation,<br>\n            <strong>Jaime</strong><br>\n            Founder, JMEFIT</p>\n            \n            <p><small>P.S. This bundle is only available for 48 hours. Don't miss out on starting your journey today!</small></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email1",
      "name": "Hot Lead Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1580, 200],
      "credentials": {
        "smtp": {
          "id": "jmefit-smtp",
          "name": "JMEFIT SMTP"
        }
      }
    },
    {
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "Let's Find Your Perfect Fitness Path 🌟",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Welcome to JMEFIT</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .cta-button { display: inline-block; background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Hi {{ $json.first_name }}! 👋</h1>\n            <p>Let's Start Your Fitness Journey Right</p>\n        </div>\n        <div class=\"content\">\n            <p>I'm excited you're interested in improving your health and fitness!</p>\n            \n            <p>To help you get the most relevant guidance, I'd love to learn more about your goals and current situation.</p>\n            \n            <p><strong>Quick favor:</strong> Could you take 2 minutes to answer a few questions? This helps me send you exactly what you need.</p>\n            \n            <a href=\"https://jmefit.com/quiz?email={{ $json.email }}\" class=\"cta-button\">Take the 2-Minute Quiz →</a>\n            \n            <p>Based on your answers, I'll send you:</p>\n            <ul>\n                <li>✅ Personalized workout recommendations</li>\n                <li>✅ Nutrition tips for your goals</li>\n                <li>✅ A custom roadmap for success</li>\n            </ul>\n            \n            <p>Talk soon!<br>\n            <strong>Jaime</strong></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email2",
      "name": "Warm Lead Quiz Email", 
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1580, 400]
    },
    {
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "Welcome to Your Fitness Journey! 🌟",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Welcome to JMEFIT</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .cta-button { display: inline-block; background: linear-gradient(135deg, #8B5CF6 0%, #EC4899 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Hi {{ $json.first_name }}! 👋</h1>\n            <p>Great to Have You Here!</p>\n        </div>\n        <div class=\"content\">\n            <p>Welcome to the JMEFIT community!</p>\n            \n            <p>I'm excited to help you on your fitness journey. Here are some free resources to get you started:</p>\n            \n            <ul>\n                <li>✅ Free workout library access</li>\n                <li>✅ Nutrition basics guide</li>\n                <li>✅ Community support group</li>\n                <li>✅ Weekly motivation emails</li>\n            </ul>\n            \n            <a href=\"https://jmefit.com/free-resources?email={{ $json.email }}\" class=\"cta-button\">Access Free Resources →</a>\n            \n            <p>Take your time exploring, and when you're ready for more personalized guidance, I'm here to help!</p>\n            \n            <p>To your success,<br>\n            <strong>Jaime</strong></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email3",
      "name": "Cold Lead Educational Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1580, 600]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "email_sequences",
        "data": {
          "prospect_email": "={{ $json.email }}",
          "sequence_type": "={{ $json.segment }}",
          "email_number": 1,
          "scheduled_for": "={{ new Date(Date.now() + 2 * 60 * 60 * 1000).toISOString() }}",
          "status": "scheduled"
        }
      },
      "id": "supabase3",
      "name": "Schedule Email Sequence",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1800, 300],
      "credentials": {
        "supabaseApi": {
          "id": "jmefit-supabase",
          "name": "JMEFIT Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Lead captured successfully\",\n  \"data\": {\n    \"email\": \"{{ $json.email }}\",\n    \"segment\": \"{{ $json.segment }}\",\n    \"icp_score\": {{ $json.icp_score }},\n    \"recommended_product\": \"{{ $json.recommended_product }}\"\n  }\n}",
        "options": {}
      },
      "id": "response1",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2020, 300]
    }
  ],
  "connections": {
    "Lead Capture Webhook": {
      "main": [
        [
          {
            "node": "Lead Source Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Source Router": {
      "main": [
        [
          {
            "node": "Create/Update Prospect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create/Update Prospect", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Prospect": {
      "main": [
        [
          {
            "node": "ICP Scoring Algorithm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Scoring Algorithm": {
      "main": [
        [
          {
            "node": "Update ICP Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ICP Score": {
      "main": [
        [
          {
            "node": "Segment Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment Router": {
      "main": [
        [
          {
            "node": "Hot Lead Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warm Lead Quiz Email",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead Welcome Email": {
      "main": [
        [
          {
            "node": "Schedule Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm Lead Quiz Email": {
      "main": [
        [
          {
            "node": "Schedule Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Lead Educational Email": {
      "main": [
        [
          {
            "node": "Schedule Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Email Sequence": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "2"
} 